<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.julienbonnetaud.moneyreminder" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Money-Reminder</name>
    <description>
        Money Reminder, because good fences make good neighbours. :)
    </description>
    <author email="julien.bonnetaud@gmail.com" href="http://cordova.io">
        Julien Bonnetaud, Alexandre Bayle et Ali Abdennadher, IIM
    </author>
    <content src="index.html" />
    <!-- Allow images, xhrs, etc. to ??????.com -->
    <access origin="http://google.com" />
    <access origin="https://google.com" />
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="Orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
</widget>
